.profile-page{
    width:100%;
    padding:40px;
    background:#f4f7fb;
}

/* HEADER */

.profile-header{
    background: linear-gradient(135deg,#87CEFA,#4da6ff);
    border-radius:20px;
    padding:40px;
    display:flex;
    align-items:center;
    gap:30px;
    color:white;
}

.avatar{
    width:120px;
    height:120px;
}

.avatar img{
    width:100%;
    height:100%;
    border-radius:100%;
}

.role{
    opacity:0.9;
}

/* CONTENT */

.profile-content{
    margin-top:30px;
    display:flex;
    flex-direction:column;
    gap:25px;
}

.profile-card{
    padding:25px;
    border-radius:15px;
    border:none;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

/* ADMIN ACTIONS */

.admin-actions{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    margin-top:15px;
}

.admin-item{
    background:#eef4ff;
    padding:12px 18px;
    border-radius:8px;
    font-weight:500;
}

/* INFO GRID */

.info-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    margin-top:15px;
}

.info-grid label{
    font-size:13px;
    color:gray;
}

/* EXPERIENCE */

.experience{
    margin-top:20px;
}

.experience-item{
    display:flex;
    gap:20px;
    margin-bottom:20px;
}

.experience-circle{
    width:60px;
    height:60px;
    border-radius:100%;
    background:#4da6ff;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
}