<div class="container mt-4">

  <div class="mb-3">
    <label>Seleccionar fecha</label>

    <input
      type="date"
      [(ngModel)]="selectedDate"
      (change)="loadProfessionals()"
      class="form-control"
      style="max-width:200px"
    >
  </div>

  <h2 class="mb-4">Citas Disponibles</h2>

  <!-- LOOP DOCTORES -->
  <div *ngFor="let pro of professionals" class="card mb-4">

  <div class="card-header bg-primary text-white">
    Dr. {{pro.nombre}} {{pro.apellido}}
  </div>

  <table class="table">

    <tr *ngFor="let slot of pro.slots">

      <td>{{selectedDate}}</td>

      <td>{{slot}}</td>

      <td>
        <span class="badge bg-success">
          DISPONIBLE
        </span>
      </td>

      <td>

        <button
        class="btn btn-outline-primary"
        (click)="reservar(pro.professionalId,slot)">
        Reservar
        </button>

      </td>

    </tr>

  </table>

</div>